[submodule "externals/staticwinlibs"]
	path = externals/staticwinlibs
	url = https://github.com/shadLaunchers/staticwinlibs.git
	branch = main
[submodule "externals/sdl3"]
	path = externals/sdl3
	url = https://github.com/shadexternals/sdl3.git
[submodule "externals/json"]
	path = externals/json
	url = https://github.com/shadexternals/json.git
[submodule "externals/fmt"]
	path = externals/fmt
	url = https://github.com/shadexternals/fmt.git
[submodule "externals/libdeflate"]
	path = externals/libdeflate
	url = https://github.com/shadexternals/libdeflate.git
